@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");

* {
  font-family: "Source Sans 3", sans-serif;
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  min-width: 0px;
  /*height: auto;*/
}

html {
  position: relative;
  min-height: 100%;
}

.container-menu {
  width: 100%;
  display: table;
  background-color: #1c1c1c;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

section {
  width: 100%;
  max-width: 1343px;
  margin: 0px auto;
  display: table;
  position: relative;
}

/*Estilo del Logo */
#logo_page {
  float: left;
  font-size: 24px;
  text-transform: uppercase;
  padding: 12px 0px;
  height: 60px;
}

/* Menú Cabecera*/
nav {
  width: auto;
  /*float: right;*/
  position: relative;
}

/*******************************************/
.table-responsive {
  height: 60vh;
}

table {
  border: #b2b2b2 1px solid;
  background-color: #b2b2b2;
}

.btnAgregar {
  background-color: #b2b2b2;
  width: 60px;
  text-align: center;
  margin-top: 10px;
}

h3 {
  margin: 20px;
  padding-top: 30px;
}

.contenedor-formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.contenedor-formulario div {
  text-align: center;
  width: 50%;
  background-color: gray;
  margin: 10px;
}

#form_suscripcion {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.grupo_datos {
  align-self: center;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.grupo_datos div {
  text-align: left;
  width: 100%;
}

#email {
  width: 100%;
}

#btnListo {
  width: 50%;
  height: 30px;
}
