* {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

/* Fuente general en el body*/
body {
    background-image: url("../img/fondo_Arkgames.svg");
    /*font-family: 'Open Sans', sans-serif;*/
    background-color: rgb(104, 99, 99);
    background-color: linear-gradient(
      131deg,
      rgba(104, 99, 99, 1) 0%,
      rgba(33, 31, 31, 1) 100%
    ) !important;
  }

.container {
    background-image: url("../img/fondo_Arkgames.svg");
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: rgb(104, 99, 99);
    background-color: linear-gradient(131deg,rgba(104, 99, 99, 1) 0%,rgba(33, 31, 31, 1) 100%);
  }

  

.footer_icon {
    filter: invert(100%);
    padding: 20px;
    height: 20px;
    padding: 6px;
  }
  /*******************************************/
  
  /*Footer*/
  footer {
    
    
    color: white;
    /* padding-bottom: 10px; */
    width: 100%;
    bottom: 0;
  }
  .footer_social {
    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer_social li {
    float: left;
    /*width: 50px;
    height: 50px;*/
    padding: 0px 10px;
  }
  .footer_social li a {
    transition: all 0.5s ease 0s;
   
    /*width: 40px;
    height: 40px;*/
  }
  .footer_social li a:hover {
    background-color: #1d1d1d;
    border-radius: 3px;
    transition: all 0.5s ease 0s;
  }
  
  address {
    text-align: center;
  }
  #derechos_reserv {
    text-align: center;
    font-style: italic;
  }